{%extends "base.html" %}


{% block jumbotron%}
	<div class="jumbotron">
        <h2>O que é?</h2>
        <p>Esta aplicação foi desenvovlida para permitir a execução remota de quaisquer algoritmos cadastrados pelo administrador da aplicação.</p> 
        <p>
        Para fins de testes, o algoritmo selecionado para demonstração, é uma implementação de complexidade n*log(n) do algoritmo Friends of Friends.</p>
        <p>
        Este projeto foi desenvolvido por Otávio Migliavacca Madalosso como trabalho de graduação em Ciência da Computação pela Universidade Federal de Santa Maria (UFSM).</p>
	</div>
{%endblock%} 