{%extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title%}{{title}}{%endblock%}

{%block content%}
<div class="row">
  {% if data != None %}
  <div class = "col-sm-12 col-md-12 text-center">
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th><input id="checkHeader" type="checkbox" value=""></th>
            <th>ID</th>
            <th data-align="center">Data Requisição</th>
            <th data-align="center">Status</th>
            <th>Algoritmo</th>
            <th>Tempo</th>
            <th>Arquivo Entrada</th>
            <th>Arquivo Saída</th>
          </tr>
        </thead>
        <tbody id="tableExp">
        {%for exp in data%}
        <tr>
          <td><input type="checkbox" value="{{exp.id}}"></td>
          <td>{{exp.id}}</td>
          <td>{{exp.date_requisition}}</td>
          <td>
          {%if exp.status == 1%}
            Aguardando
          {%else%}
            {%if exp.status == 2%}
              Executando
            {%else%}
              {%if exp.status == 3%}
                Finalizado        
              {%endif%}
            {%endif%}
          {%endif%}
          </td>
          <td>{{exp.algorithm}}</td>
          <td>
          {%if exp.time == -1 %}
            -
          {%else%}
            {{exp.time|floatformat:-4}} s
          {%endif%}
          </td>
          <td>
          {% if exp.inputFile%}
          <a  href="{% url 'downloadInputFile'%}?id={{exp.id}}"><button type="button" class="btn btn-success">Download</button></a>
          {% else %}
          <button type="button" class="btn btn-warning disabled">Sem Entrada</button>
          {% endif %}
          </td>
          <td>
          {% if exp.outputFile%}
          <a  href="{% url 'downloadOutputFile'%}?id={{exp.id}}"><button type="button" class="btn btn-success">Download</button></a>
          {% else %}
          <button type="button" class="btn btn-warning disabled">Sem Resultado</button>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
      <ul class="nav navbar-nav navbar-left">
        <ul class="pagination">
        {# CASO SEJA A PRIMEIRA PAGINA #}
          {% if data.has_previous %}
          <li>
            <a href="?page={{ data.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li> 
          {% else %}
          <li class="disabled">
            <span aria-hidden="true">&laquo;</span>
          </li>
          {% endif %}

          {% for page, value in pagesIndex.items %}
              {% if value > 0 %}
                {% if page = 2 %}
                <li class='active'><a href="#">{{value}}</a></li>
                {%else%}
                <li><a href="?page={{value}}">{{value}}</a></li>
                {% endif %}
              {%endif%}
          {% endfor %}

          
          {% if data.has_next %}
          <li>
            <a href="?page={{ data.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          {% else %}
          <li class="disabled">
            <span aria-hidden="true">&raquo;</span>
          {% endif %}
          </li>
          
        </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ul class="pagination">
        <form id="formRemove" method='POST' action='{% url 'expRemove' %}' enctype="multipart/form-data">
          {% csrf_token %}
          <input type="submit" id="btExcluir" class="btn btn-default btn-sm" value="Excluir">
          </form>
        </ul>
      </ul>
    </nav>

  </div>
  {% else %}
    <div id="colForm" class="col-sm-3 col-md-3"></div>
    <div id="colForm" class="col-sm-6 col-md-6 text-center">
      <hr>
      <p1>Você não possui experimentos</p1>
      <hr>
    </div>
    <div id="colForm" class="col-sm-3 col-md-3"></div>
  {% endif %}

</div>
{%endblock%}
